version: "3"

services:
  # WWW Frontend
  www:
    container_name: ${PROJECT_NAME}-www
    env_file:
      - ./.env
    build:
      context: ./www
      dockerfile: Dockerfile.dev

    environment:
      - ENV=$ENV
      - PORT=$WWW_PORT
      - HOST=$WWW_HOST

    volumes:
      - ./www:/app

    ports:
      - ${WWW_PORT}:${WWW_PORT}
    depends_on:
      - api

  # API backend
  api:
    container_name: ${PROJECT_NAME}-api
    env_file:
      - ./.env
    build:
      context: ./api
      dockerfile: Dockerfile.dev

    environment:
      - ENV=$ENV
      - PORT=$API_PORT
      - HOST=$API_HOST

    volumes:
      - ./api:/app

    ports:
      - ${API_PORT}:${API_PORT}
    depends_on:
      - mongo

  # Mongo DB
  mongo:
    image: mongo:latest
    container_name: ${PROJECT_NAME}-mongodb
    env_file: .env

    environment:
      - MONGO_INITDB_ROOT_USERNAME=$MONGO_INITDB_ROOT_USERNAME
      - MONGO_INITDB_ROOT_PASSWORD=$MONGO_INITDB_ROOT_PASSWORD
      - MONGO_INITDB_DATABASE=$MONGO_INITDB_DATABASE

    volumes:
      - ./data:/data/db
      - ./init-mongo.js:/docker-entrypoint-initdb.d/mongo-init.js:ro
    ports:
      - 8003:27017
